.container{
    /* position: absolute;
    top: 90px;
    left: 300px; */
    width: 51%;
    height: 735px;
    border: 2px solid rgb(177, 177, 177);
    margin: 40px auto;
    /* background-color: rgb(234, 230, 230) ;*/
}
h1{
    margin-left: 30px;
    font-size: 40px;
}
.box{
    background-color: rgb(234, 230, 230);
}
.btn {
    background-color: DodgerBlue;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    /* position: relative;
    top: 10px;
    left: 790px; */
    margin-top: 30px;
    margin-left: 527px;
    display: inline-block;

  }

.btn:hover {
    background-color: RoyalBlue;
  }  
/* h3#newtask{
    display: inline;
    /* position: relative;
    top: 10px;
    left: 800px */
   /* margin-top: 0px;
    margin-left: 600px;
} */
#flex1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    height: 230px;
    width: 230px;
    border: 2px;
    border-radius: 15px;
    background-color: white;
    margin: 30px 10px 0px 10px;
}

h3.headings{
color: rgb(7, 131, 180);
padding: 2px 30px;
}
#item6{
    background-color:rgb(234, 230, 230);
}
#item4, #item5{
 margin-bottom:42px;
}
input,label{
    padding: 20px 7px;
    color: gray;
    font-size: 19px;
}









/* For page 3 */
.index3{
    /* position: absolute;
    top: 90px;
    left: 300px; */
    width: 50%;
    height: 606px;
    border: 2px solid rgb(211, 209, 209);
    margin: 90px auto;
    
    /* background-color: rgb(234, 230, 230) ;*/
}
#index3item1{
    margin-top:0px ;
    margin-bottom: 80px;
    height: 290px;
    width: 408px;
}
#btn1{
    position: relative;
    top: 54px;
    display: inline;
    left:200px;
    background-color: black;

}  
#btn2{
    position: relative;
    top: 10px;
    left:470px;
    
}
#back{
    position: relative;
    top: 54px;
    display: inline;
    left:204px;
}
#newtask_3{
    /* position: absolute; */
    /* top: -43px;
    left: 510px; */
    /* left:570px;   */
    margin-left: 520px;
    margin-top: -24px;
    margin-bottom: 50px;
    color: gray;
}
.button1{
    margin: auto;
}